FRIGATE_HOUSE_EAST_PASSWORD=
FRIGATE_HOUSE_NORTHEAST_PASSWORD=
FRIGATE_HOUSE_WEST_PASSWORD=
FRIGATE_GARAGE_EAST_PASSWORD=
FRIGATE_GARAGE_WEST_PASSWORD=
FRIGATE_GARAGE_NORTH_PASSWORD=
FRIGATE_HOUSE_EAST_IP=
FRIGATE_HOUSE_NORTHEAST_IP=
FRIGATE_HOUSE_WEST_IP=
FRIGATE_GARAGE_EAST_IP=
FRIGATE_GARAGE_WEST_IP=
FRIGATE_GARAGE_NORTH_IP=
FRIGATE_MQTT_PASSWORD=
